[alias]
	a = add
	amend = commit --amend
	b = branch -vv --sort=authordate
	c = checkout
	comit = commit
	commmit = commit
	cp = cherry-pick
	d = diff
	delete-merged-local-branch = !git branch --merged master | grep -vE \"\\*| master$| develop$\" | xargs -n 1 git branch -d
	difff = diff --no-index
	hide = update-index --skip-worktree
	unhide = update-index --no-skip-worktree
	hidelist = !echo \"  hide可能なのはGit管理されているファイルのみです\\\\n\" && git ls-files -v | grep ^S
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignorelist = !echo \"  ignore可能なのはGit管理されているファイルのみです\\\\n\" && git ls-files -v | grep \"^[a-z]\"
	l = log --name-status --abbrev-commit --stat -10
	lo = log --graph --all --pretty=format:\"%C(red)%h%C(reset) %C(green)[%an]%C(reset)%C(cyan)%d %C(reset)%C(yellow)[%s]%C(reset)\"
	s = status --short --branch
	unadd = reset --
	unstage = reset --
	w = !git add -A && git commit -m \"wip\"
[core]
	ignorecase = false
	pager = less -SMR
	quotepath = false
[user]
	name = mokoaki
	email = mokoriso@gmail.com
[color]
	ui = true
[push]
	default = current
[pull]
	ff = only
[pager]
	diff = diff-highlight | less # それぞれの出力にハイライトとlessを使う
	log = diff-highlight | less
	show = diff-highlight | less
[interactive]
	diffFilter = diff-highlight # git add -p 時も空白をハイライトする
[log]
	date = iso-local
